{% if plugins.blog.posts is defined and plugins.blog.posts|length %}


<div class="bk-blogpost  blogpost  widget__blogpost">

    {% if plugins.blog.posts[0].featureImageAssetRef is not null %}
    {% set assetRef = plugins.blog.posts[0].featureImageAssetRef %}
    {% set featureImg = plugins.assets.images[assetRef] %}

    {% include "includes/header.twig" %}

    <div class="blog-hero  blog-hero--post  feature__background-image" data-image-href="{{ strip_url_scheme(featureImg.url) }}" rel="lightbox" title="{{ plugins.blog.posts[0].title|raw }}" style="background-image:url('{{ strip_url_scheme(featureImg.url) }}')">

        {% endif %}

        <div class="content-wrap  feature__content-wrap">

            <header class="post-header  blogpostlist__post-header">
                <div class="post-info  blogpostlist__post-info">

                    {% if plugins.blog.posts[0].category|length %}

                    <div class="post-info-category  blogpostlist__post-info-category">
                        <h4 class="post-info-category-title  blogpostlist__post-info-category-title">
                            <a class="post-info-category-link  blogpostlist__post-info-category-link" href="{{ requestBase }}/{{ plugins.blog.directory }}/categories/{{ plugins.blog.posts[0].category|url_encode(true) }}">{{ plugins.blog.posts[0].category }}</a>
                            <time class="timestamp  blogpostlist__timestamp" datetime="{{ get_php_date('c', post.publishedDate) }}">{{ post.publishedDate|formatBlogDate(languageCode) }}</time>
                        </h4>
                    </div>

                    {% endif %}

                </div>
            </header>

            <h1 class="headline  feature__headline">{{ plugins.blog.posts[0].title|e }}</h1>

        </div>

    </div>

    <div class="main-content">
        <div class="container">
            <div id="post-body" class="post-body  blogpost__post-body">

                {% if data.showSharingIcons %}

                    <ul class="sharing-links  blogpost__sharing-links">
                        <li class="network-item  blogpost__network-item">
                            <button class="button  icon  icon--twitter  blogpost__button  js-twitter-btn">{{ 'widgets.blogpost.tweet'|translate('Share on Twitter') }}</button>
                        </li>

                        <li class="network-item  blogpost__network-item">
                            <button class="button  icon  icon--facebook  blogpost__button  js-facebook-btn">{{ 'widgets.blogpost.share_facebook'|translate('Share on Facebook') }}</button>
                        </li>

                        {% if brandCapabilities.disableGoogleServices != 1 %}
                        <li class="network-item  blogpost__network-item">
                            <button class="button  icon  icon--googleplus  blogpost__button  js-googleplus-btn">{{ 'widgets.blogpost.share_google_plus'|translate('Share on Google+') }}</button>
                        </li>
                        {% endif %}
                    </ul>

                {% endif %}

                <div class="post-body-content  post-body-content--sticky  blogpost__post-body-content">
                    {{ plugins.blog.posts[0].content|raw }}
                </div>

                <footer class="post-footer  blogpost__post-footer">

                    {% if plugins.blog.posts[0].category|length > 0 or plugins.blog.posts[0].tags|length > 0 %}
                    <div class="post-attributes  blogpost__post-attributes">

                        {% if plugins.blog.posts[0].category|length %}
                        <div class="post-category  blogpost__post-category">
                            <p class="category-title  blogpost__category-title">{{"shared_views.blog.category"|translate("Category")}}</p>
                            <a class="category-link  product__category-link" href="{{ requestBase }}/{{ plugins.blog.directory }}/categories/{{ plugins.blog.posts[0].category|url_encode(true) }}">{{ plugins.blog.posts[0].category }}</a>
                        </div>
                        {% endif %}

                        {% if plugins.blog.posts[0].tags|length %}
                        <div class="post-tags  blogpost__post-tags">
                            <p class="tags-title  blogpost__tags-title">{{"shared_views.blog.tags"|translate("Tags")}}</p>

                            {% set tags = plugins.blog.posts[0].tags %}
                            {% set count = 0 %}

                            <ul class="tag-list  blogpost__tag-list">
                                {% for tag in tags %}
                                {% set count = count + 1 %}

                                <li class="tag-item  blogpost__tag-item">
                                    <a class="tag-link  blogpost__tag-link" href="{{ requestBase }}/{{ plugins.blog.directory }}/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>
                                </li>

                                {% endfor %}
                            </ul>

                        </div>

                        {% endif %}

                    </div>

                    {% endif %}

                </footer>

            </div>
        </div>
    </div>

</div>

{% elseif app.mode != 'published' and app.mode != 'site-preview' %}
<div class="bk-message bk-message--empty blogpost__bk-message">
    <p>{{"shared_views.blog.no-post"|translate("You haven’t added any posts yet.")}}</p>
</div>
{% endif %}
